@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&family=Hubballi&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&family=Ubuntu:wght@300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu';
}

.background{
  background-image: url(/img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
